# ============ Backend ============
/backend/.phpunit.cache
/backend/node_modules
/backend/public/build
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/backend/storage/pail
/backend/vendor
/backend/.env
/backend/.env.backup
/backend/.env.production
/backend/.phpactor.json
/backend/.phpunit.result.cache
/backend/Homestead.json
/backend/Homestead.yaml
/backend/npm-debug.log
/backend/yarn-error.log
/backend/auth.json
/backend/.fleet
/backend/.idea
/backend/.nova
/backend/.vscode
/backend/.zed

# ============ Frontend ============
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.*
/frontend/.yarn/*
/frontend/!/yarn/patches
/frontend/!/yarn/plugins
/frontend/!/yarn/releases
/frontend/!/yarn/versions
/frontend/coverage
/frontend/.next/
/frontend/out/
/frontend/build
/frontend/.env
/frontend/.env.local
/frontend/.vercel
/frontend/*.tsbuildinfo
/frontend/next-env.d.ts

# ============ General ============
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
